@import url(header.css);
@import url(botaoCustom.css);
@import url(header.css);

:root {
  --preto: #1e1c2a;
  --branco: #ecedf7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
  background: rgb(81, 156, 175);
  background: linear-gradient(
    0deg,
    rgba(81, 156, 175, 1) 0%,
    rgba(245, 189, 245, 1) 53%,
    rgba(214, 116, 205, 1) 100%
  );
}

.botoes {
  padding-top: 10vw;
  display: flex;
  justify-content: center;
  gap: 30vw;
}
